<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home/home.css}" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script src="http://code.jquery.com/jquery.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- header -->
	<section class="css-header">
		<div class="row">
			<div class="col-sm-3">
				<a th:href="@{/home}" style="color: blue;">Home</a>/ <a
					th:href="@{/login}">Login</a>
			</div>
			<div class="col-sm-4">
				<input style="border: 1px solid #ccc!important; background:#f5d2a0; margin-left: -58px; float: left; width: 371px;"
					type="text" name="" placeholder="Search...." />
			</div>
			<div class="col-sm-4">
				<h4 style="margin-right: -95px; float: right;">NCC Soft</h4>
			</div>
		</div>
	</section>
	<!-- body -->
	<div class="container" style="text-align: center; height: 383px;">
		<h2 style="margin-top: 90px;">Mời bạn chọn Mục cần dùng</h2>
		<div class="btn-group-vertical" style="width: 452px; height: 40px;">
			<a type="button" class="btn btn-primary" th:href="@{/them-phieu-chi}">Thêm
				phiếu chi</a> <a type="button" class="btn btn-success"
				th:href="@{/them-phieu-de-xuat}">Thêm phiếu đề xuất</a> <a
				type="button" class="btn btn-warning" th:href="@{/login}">Đăng
				nhập</a>
		</div>
	</div>
	<!-- footer -->
	<section class="css-footer">
		<div class="container">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<h3>Liên hệ</h3>
				<ul>
					<li>
						<p>Tòa nhà 27A2-GreenStar,36A Phạm Văn Đồng, Hà Nội</p>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<h3>Đối tác</h3>
				<ul>
					<li>
						<p>
							<a>công ty A</a>
						</p>
					</li>
					<li>
						<p>
							<a>công ty B</a>
						</p>
					</li>
					<li>
						<p>
							<a>công ty C</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<h3>Thành tích</h3>
				<ul>
					<li>
						<p>
							<a>abc</a>
						</p>
					</li>
					<li>
						<p>
							<a>xyz</a>
						</p>
					</li>
					<li>
						<p>
							<a>mnp</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<h3>người dùng</h3>
				<ul>
					<li>
						<p>
							<a>Đăng nhập</a>
						</p>
					</li>
					<li>
						<p>
							<a>Đăng kí</a>
						</p>
					</li>
					<li>
						<p>
							<a>Đăng xuất</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>