
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<br />
	<a class="btn btn-primary" th:href="@{/them-phieu-chi}"> Thêm phiếu
		chi </a>
	<br />
	<hr />
	<a class="btn btn-primary" th:href="@{/them-phieu-de-xuat}">Thêm
		phiếu đề xuất</a>
	<br />
	<hr />
	<a class="btn btn-primary" th:href="@{/login}">Login </a>

</body>
</html>
