@CHARSET "UTF-8";
.css-header {
	background: #eae4e4;
	font-size: 20px;
	padding: 20px 8%;
}

.css-header a {
	text-decoration: none;
}

.css-footer {
	background: #eae4e4;
	font-size: 18px;
	padding: 22px;
}
.css-body {
	text-align: center;
	background: #e8e3cd;
}

.css-body form {
	background: #ede2c9;
	padding: 20px;
}

.css-body form .form-control {
	border: 0;
	background-image: linear-gradient(to bottom, #A60ECC, #D2D2D2);
	background-size: 100% 2px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: transparent;
	transition: background 0s ease-out;
	box-shadow: none;
	border-radius: 0;
}

.css-body form .form-control:focus {
	-webkit-animation: background 0.5s ease-out;
	animation: background 0.5s ease-out;
}

.css-body form h4 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
}

.css-body form input {
	margin-right: 5px;
}

.css-body form button {
	color: #ffff;
	background: #348dbd;
	width: 187px;
}

.css-footer {
	background: #eae4e4;
	font-size: 18px;
	padding: 22px;
}