<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/PhieuChi/ChiTietPhieuChi.css}" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script src="http://code.jquery.com/jquery.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<title>Chi tiết phiếu chi</title>
</head>
<body>
	<div class="container" style="margin-top: 20px;">
		<div class="row">
			<!-- header -->
			<div>
				<div class="col-md-6 col-sm-6" id="a1">
					<h4>
						<b style="margin-left: 60px;">Công ty TNHH Công Nghệ NCCSOFT Việt Nam</b>
					</h4>
					<h4>
						<b style="margin-left: 60px;">Số 88 đường Bia Bà, Phường La Khê, Quận Hà Đông,HN</b>
					</h4>
					<h4>
						<b style="margin-left: 60px;">MST: 0106522655</b>
					</h4>
				</div>
				<div class="col-md-6 col-sm-6" id="a2">
					<h4>
						<b>Mẫu số: 01-TT</b>
					</h4>
					<h4>
						<i>Ban hành theo QĐ số 48/2006QĐ</i>
					</h4>
					<h4>
						<i>BTC ngày 14/09/2006 của bộ trưởng BTC</i>
					</h4>
				</div>
			</div>
			<!-- /header -->
			<!-- body -->
			<div>
				<h1 style="text-align: center; margin-top: 20px;"><b>Phiếu Chi</b></h1>
			</div>
			<!-- /body -->
		</div>
	</div>
</body>
</html>