
<!DOCTYPE html>
<html>
<head th:replace="common/head-ad :: head-ad"></head>
<body class="dashboard-page">

	<nav class="main-menu" th:replace="common/menu-ad :: menu-ad"></nav>
	<section class="wrapper scrollable">
		<nav class="user-menu">
			<a href="javascript:;" class="main-menu-access"> <i
				class="icon-proton-logo"></i> <i class="icon-reorder"></i>
			</a>
		</nav>

		<section th:replace="common/search-ad :: search-ad"></section>

		<div class="main-grid">
			<div>
				<div style="height: 375px;">
					<h1>Welcome!!!!</h1>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
		<!-- footer -->
		<div class="footer">
			<p>
				© 2018 Colored . All Rights Reserved . Design by <a
					href="http://w3layouts.com/">W3layouts</a>
			</p>
		</div>
		<!-- //footer -->
	</section>

</body>
</html>
