<!DOCTYPE html>
<html>
<head th:replace="common/head-ad :: head-ad"></head>
<body class="dashboard-page">

	<nav class="main-menu" th:replace="common/menu-ad :: menu-ad"></nav>
	<section class="wrapper scrollable">
		<nav class="user-menu">
			<a href="javascript:;" class="main-menu-access"> <i
				class="icon-proton-logo"></i> <i class="icon-reorder"></i>
			</a>
		</nav>
		<section th:replace="common/search-ad :: search-ad"></section>

		<div class="main-grid">
			<div class="agile-grids">
				<!-- tables -->

				<div class="table-heading">
					<h2>DANH SÁCH PHIẾU CHI</h2>
					<div class="container" style="width:200px;">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<form th:action="@{/admin/loc-theo-trang-thai-phieu-chi}" method="POST">
									<h2 style="color:red; margin-left: 15px;
   								 font-size: 22px;" th:text="${msg}"></h2> <br/>
									<!-- status == 4 -->
									<select th:if="${status} == '4'"
									 class="form-group selectTT" name="trangThai" >
									<option value="4">All</option>
									<option value="0">Đang xét duyệt</option>
									<option value="1">Đã duyệt</option>
									<option value="2">Đã chi</option>
									</select>
									
									<!-- status == 0 -->
									<select th:if="${status} == '0'"
									class="form-group selectTT" name="trangThai">
									<option value="0">Đang xét duyệt</option>
									<option value="4">All</option>
									<option value="1">Đã duyệt</option>
									<option value="2">Đã chi</option>
									</select>
									
									<!-- status == 1 -->
									<select th:if="${status} == '1'"
									class="form-group selectTT" name="trangThai">
									<option value="1">Đã duyệt</option>
									<option value="4">All</option>
									<option value="0">Đang xét duyệt</option>
									<option value="2">Đã chi</option>
									</select>
									
									<!-- status == 2 -->
									<select th:if="${status} == '2'"
									class="form-group selectTT" name="trangThai">
									<option value="2">Đã chi</option>
									<option value="4">All</option>
									<option value="0">Đang xét duyệt</option>
									<option value="1">Đã duyệt</option>
									
									</select>
									<br/>
									<p> 
										<input type="submit" name="sub-1" value="Submit" class="btn btn-success form-control"/>
									</p>
								</form>
							</div>
						</div>
					</div>
					<br/><br/>
				</div>
				
				<!-- <a href="" class="btn btn-success">Thêm khách hàng</a> <br/> <br/> -->
				<h3>DANH SÁCH PHIẾU CHI</h3>
				<table id="table-breakpoint">
					<thead>
						<tr>
							<th>STT</th>
							<th>Người nhận tiền</th>
							<th>lý do chi</th>
							<th>Số tiền</th>
							<th>ngày lập phiếu</th>
							<th>người lập phiếu</th>
							<th>trạng thái</th>
							<th>Tùy Chọn</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="list,c : ${phieuChiDTOs}">
							<td th:text="${c.count}"></td>
							<td th:text="${list.nguoiNhanTien}"></td>
							<td th:text="${list.lyDoChi}"></td>
							<td th:text="${list.soTienFormat}"></td>
							<td th:text="${list.ngayLapPhieu}"></td>
							<td th:text="${list.nguoiLapPhieu}"></td>
							
							<form th:action="@{/admin/chuyen-trang-thai-phieu-chi}" method="get">
							
							<td th:if="${list.trangThai} == 0" class="status">
							<select
								class="form-control" name="trangThai">
									<option value="0">Đang xét duyệt</option>
									<option value="1">Đã duyệt</option>
									<option value="2">Đã chi</option>
							</select>
							</td>
							
							<td th:if="${list.trangThai} == 1" class="status">
							<select
								class="form-control" name="trangThai">
									<option value="1">Đã duyệt</option>
									<option value="0">Đang xét duyệt</option>
									<option value="2">Đã chi</option>
							</select>
							</td>
							
							<td th:if="${list.trangThai} == 2" class="status">
							<select
								class="form-control" name="trangThai">
									<option value="2">Đã chi</option>
									<option value="1">Đã duyệt</option>
									<option value="0">Đang xét duyệt</option>
									
							</select>
							</td>
							
							<input type="hidden" name="id" th:value="${list.id}"/>
							
							<td>
							<a th:href="@{/admin/chi-tiet-phieu-chi(id=${list.id})}"
								class="btn btn-danger view">View </a>
								<button class="btn btn-success" type="submit">ChangeStatus </button>
								
							</td>
								
						</form>
						</tr>
					</tbody>
				</table>

				<!-- //tables -->
			</div>
		</div>

		<!-- footer -->
		<div class="footer">
			<p>
				© 2018 Colored . All Rights Reserved . Design by <a
					href="http://w3layouts.com/">W3layouts</a>
			</p>
		</div>
		<!-- //footer -->
	</section>

</body>
</html>
