<!DOCTYPE html>
<html>
<head th:replace="common/head-ad :: head-ad">
<meta charset="UTF-8" />
<script type="text/javascript"
	th:src="@{/js/ListPhieuChi/ListPhieuChi.js}"></script>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body class="dashboard-page">

	<nav class="main-menu" th:replace="common/menu-ad :: menu-ad"></nav>
	<section class="wrapper scrollable">
		<nav class="user-menu">
			<a href="javascript:;" class="main-menu-access"> <i
				class="icon-proton-logo"></i> <i class="icon-reorder"></i>
			</a>
		</nav>

		<div class="main-grid">
			<div class="agile-grids">
				<!-- tables -->

				<div class="table-heading">
					<h2>Danh Sách phiếu chi</h2>
				</div>

				<h3>DANH SÁCH PHIẾU CHI</h3>
				<form th:action="@{/admin/loc-danh-sach-phieu-chi/page/1}" method="get">
					<select class="" name="trangThai" style="height: 30px;">
						<option value="0">Đang xét duyệt</option>
						<option value="1">Đã duyệt</option>
						<option value="2">Đã chi</option>
					</select>
					<button type="submit">Lọc</button>
				</form>
				<table id="table-breakpoint">
					<thead>
						<tr>
							<th>STT</th>
							<th>Người nhận tiền</th>
							<th>Lí do chi</th>
							<th>Số tiền</th>
							<th>Ngày lập phiếu</th>
							<th>Người lập phiếu</th>
							<th style="width: 167px;">Trạng Thái</th>
							<th style="width: 139px;">tùy chọn</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="list,c : ${phieuChiDTOs.pageList}">
							<td th:text="${c.count}"></td>
							<td th:text="*{list.nguoiNhanTien}"></td>
							<td th:text="${list.lyDoChi}"></td>
							<td th:text="${list.soTienFormat}"></td>
							<td th:text="${list.ngayLapPhieu}"></td>
							<td th:text="${list.nguoiLapPhieu}"></td>

							<form th:action="@{/admin/chuyen-trang-thai-phieu-chi}"
								method="get">

								<td th:if="${list.trangThai} == 0" class="status"><select
									class="form-control" name="trangThai">
										<option value="0">Đang xét duyệt</option>
										<option value="1">Đã duyệt</option>
										<option value="2">Đã chi</option>
								</select></td>

								<td th:if="${list.trangThai} == 1" class="status"><select
									class="form-control" name="trangThai">
										<option value="1">Đã duyệt</option>
										<option value="0">Đang xét duyệt</option>
										<option value="2">Đã chi</option>
								</select></td>

								<td th:if="${list.trangThai} == 2" class="status"><select
									class="form-control" name="trangThai">
										<option value="2">Đã chi</option>
										<option value="1">Đã duyệt</option>
										<option value="0">Đang xét duyệt</option>

								</select></td> <input type="hidden" name="id" th:value="${list.id}" />

								<td><a style="width: 149px;"
									th:href="@{/admin/chi-tiet-phieu-chi(id=${list.id})}"
									class="btn btn-danger view" > Xem </a>
									<button class="btn btn-success" type="submit">Đổi
										trạng thái</button></td>

							</form>
						</tr>
					</tbody>
				</table>
				<!-- phân trang -->
				<ul class="pagination">
					<li
						th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="@{/admin/danh-sach-phieu-chi/page/1}">First</a>
					</li>
					<li
						th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
						<a class="page-link" aria-label="Previous"
						th:href="@{|${baseUrl}${currentIndex - 1}|}"
						title='Go to previous page'><span aria-hidden="true">«</span>
							<span class="sr-only">Previous</span></a>
					</li>
					<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
						th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
						<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
							th:text='${item}'>1</span>
					</a>
					</li>
					<li
						th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
						<a class="page-link" aria-label="Next"
						th:href="@{|${baseUrl}${currentIndex + 1}|}"
						title='Go to next page'><span aria-hidden="true">»</span> <span
							class="sr-only">Next</span></a>
					</li>
					<li
						th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
						<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
					</li>
				</ul>
				<!-- //tables -->
			</div>
		</div>

		<!-- footer -->
		<div class="footer">
			<p>
				Â© 2018 Colored . All Rights Reserved . Design by <a
					href="http://w3layouts.com/">ABC_XXX</a>
			</p>
		</div>
		<!-- //footer -->
	</section>

</body>
</html>
